:root {
    --color: #6666ff;
    --dark: #1b1b1b;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: var(--color);
    background: linear-gradient(to left top, var(--dark), var(--color));
    overflow: hidden;

    margin-top: 20px;
    font-size: 20px;
    font-weight: 700;
    color: #fff;
}

.container{
    width:75%;
    height:95%;
     background: rgba(0,0,0,0.75);
     background: linear-gradient(to right bottom, rgba(0,0,0,0.25), rgba(0,0,0,0.75));
     border-radius: 20px;
     position: relative;
     backdrop-filter: blur(8px);
}

.backImg{
    position: absolute;
    top: 0;
    right: 100vh;
    height: 20vh;
    animation: slide 15s linear infinite;
}

.coinsImg{
    position: absolute;
    top: 0vh;
    left: 0vh;
    height: 40vh;
}

#exchangeImg{
    position: absolute;
    top: 25vh;
    right: 5vh;
    height: 10vh;
    -webkit-animation:spin 4s linear infinite;
    -moz-animation:spin 4s linear infinite;
    animation:spin 4s linear infinite;
        visibility: hidden
}

@-moz-keyframes spin {
    100% { -moz-transform: rotate(360deg); }
}
@-webkit-keyframes spin {
    100% { -webkit-transform: rotate(360deg); }
}
@keyframes spin {
    100% {
        -webkit-transform: rotate(360deg);
        transform:rotate(360deg);
    }
}

@keyframes slide {
    from {
            transform: translateX(-25vh) translateY(-25vh);
         }
    to {
            transform:translateX(125vh) translateY(100vh);
       }
}

button{
    width: 25vh;
    height: 7%;
    margin-top: 32px;
    font-size: 38px;
    font-weight: 700;
    color: #fff;
    background: var(--color);
    background: linear-gradient(to right bottom, var(--color), rgba(255,255,255,0.75));
    border: none;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    border-radius:6px;
}

button:focus {
    outline-color: #fff;
}

button:after {
    content:"";
    background-color:rgba(255,255,255,0.4);
    width: 50px;
    height: 100px;
    position: absolute;
    left: -100px;
    top: -10px;
    transform: rotate(20deg);
    transition: transform 0.5s;
}

button:hover:after {
    transform: translateX(500px) rotate(20deg);
}

#exchangeButtonId{
    position: absolute;
    top: 15vh;
    right: 5vh;
}

.selectors{
   position: relative;
   top: 5vh;
   left: 5vh;
   height: 20vh;
   width: 40vh;
   color:green:
}

.selectorHave{
    position: absolute;
    top: 13vh;
    left: 0vh;
    width: 20vh;
}

.selectorGet{
    position: absolute;
    top: 13vh;
    left: 30vh;
    width: 25vh;
}

#selectFieldHave, #selectFieldGet{
    width: 100%;
    padding: 15px 20px;
    margin-bottom: 30px;
    box-sizing: border-box;
    background: var(--color);
    background: linear-gradient(to right bottom, var(--color), rgba(255,255,255,0.75));
    border-radius: 6px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#selectFieldHave img, #selectFieldGet img{
    width: 12px;
}

#listHave, #listGet{
    width: 100%;
    background: rgba(255,255,255,0.7);
    border-radius: 6px;
    overflow: hidden;
}

.optionsHave, .optionsGet {
    width: 100%;
    padding: 15px 0 15px 70px;
    list-style: none;
    cursor: pointer;
    box-sizing: border-box;
    position: relative;
}

.optionsHave img, .optionsGet img{
    width: 25px;
    position: absolute;
    top: 12px;
    left: 25px;
}

.optionsHave:hover, .optionsGet:hover{
    background: rgba(255,255,255,0.7);
}

.hideHave, .hideGet{
    visibility: hidden;
}

input{
    width: 15vh;
    background: rgba(255,255,255,0.2);
    border: none;
    outline: none;
    padding: 10px 20px;
    border-radius: 35px;
    border: 1px solid rgba(255,255,255,0.5);
    border-right: 1px solid rgba(255,255,255,0.2);
    border-bottom: 1px solid rgba(255,255,255,0.2);
    font-size: 20px;
    letter-spacing: 1px;
    color: #fff;
    box-shadow: 0 5px 10px rgba(0,0,0,0.05);

}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.amount{
    top: -2vh;
    left: 0vh;
}

.commission{
    position: absolute;
    top: 6vh;
    left: 0vh;
}

.result{
    position: absolute;
    top: 10vh;
    right: 5vh;
    height: 10vh;
    width: 30vh;
}
.graph{
    width:90%;
    height:65%;

    position: absolute;
    bottom: 7%;
    left: 5%;

}
.chartMenu {
    width: 95%;
    height: 100%;
}
.chartMenu p {
    padding: 10px;
    font-size: 20px;
}
.chartCard {
    display: flex;
    align-items: center;
    justify-content: center;
}
.chartBox {
    width: 100%;
    padding: 10px;
    border-radius: 20px;
    background-color: var(--dark);

}