:root {
    --color: #ac00e6;
    --dark: #1b1b1b;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: var(--color);
    background: linear-gradient(to left top, var(--dark), var(--color));
    overflow: hidden;

}

.container{
    width:75%;
    height:75%;
     background: rgba(0,0,0,0.75);
     background: linear-gradient(to right bottom, rgba(0,0,0,0.25), rgba(0,0,0,0.75));
     border-radius: 20px;
     position: relative;
     backdrop-filter: blur(8px);
}

.backImg{
    position: absolute;
    top: 0;
    right: 100vh;
    height: 20vh;
    animation: slide 15s linear infinite;
}

@keyframes slide {
    from {
            transform: translateX(-25vh) translateY(-25vh);
         }
    to {
            transform:translateX(125vh) translateY(100vh);
       }
}

button{
    width: 350px;
    height: 7%;

    margin-top: 32px;
    font-size: 38px;
    font-weight: 700;
    color: #fff;
    background: var(--color);
    background: linear-gradient(to right bottom, var(--color), rgba(255,255,255,0.75));
    border: none;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}

button:focus {
    outline-color: #fff;
}

button:after {
    content:"";
    background-color:rgba(255,255,255,0.4);
    width: 50px;
    height: 100px;
    position: absolute;
    left: -100px;
    top: -10px;
    transform: rotate(20deg);
    transition: transform 0.5s;
}

button:hover:after {
    transform: translateX(500px) rotate(20deg);

}

.exchange{
    position: relative;

    bottom:5%
    left: 40%;

}

.graph{
    width:90%;
    height:50%;
    background-color: red;

    position: relative;
    top: 5%;
    left: 5%;

}