<!DOCTYPE html>
<html lang="pl-PL" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>MR Currency Exchange</title>
    <link rel="stylesheet" href="./css/style.css" th:href="@{/css/style.css}">
</head>
<body>
<div class="back">
    <img src="./img/coins.png" alt="" class="coinsImg">
    <img src="./img/exchangeBack.png" alt="" class="backImg">
    <img src="./img/exchangeLoad.png" alt="" class="exchangeImg">
</div>
<div class="container">
    <div class="graph"></div>
    <div class="selectors">
        <div class="amount">
            <input type="number" id="amount" value="1">
            Kwota
        </div>
        <div class="commission">
            <input type="number" id="commission" value="0.1">
            Prowizję
        </div>
        <div class="selectorHave">
            <div id="selectFieldHave">
                <p id="selectTextHave">Mam walutę</p>
            </div>

            <ul id="listHave" class="hideHave">
                <li class="optionsHave">
                    <img src="./img/PLN.png">
                    <p>PLN</p>
                </li>
                <li class="optionsHave">
                    <img src="./img/EUR.png">
                    <p>EUR</p>
                </li>
                <li class="optionsHave">
                    <img src="./img/USD.png">
                    <p>USD</p>
                </li>
                <li class="optionsHave">
                    <img src="./img/GBP.png">
                    <p>GBP</p>
                </li>
                <li class="optionsHave">
                    <img src="./img/CHF.png">
                    <p>CHF</p>
                </li>
                <li class="optionsHave">
                    <img src="./img/JPY.png">
                    <p>JPY</p>
                </li>
            </ul>
        </div>

        <div class="selectorGet">
            <div id="selectFieldGet">
                <p id="selectTextGet">Otrzymam walutę</p>
            </div>

            <ul id="listGet" class="hideGet">
                <li class="optionsGet">
                    <img src="./img/PLN.png">
                    <p>PLN</p>
                </li>
                <li class="optionsGet">
                    <img src="./img/EUR.png">
                    <p>EUR</p>
                </li>
                <li class="optionsGet">
                    <img src="./img/USD.png">
                    <p>USD</p>
                </li>
                <li class="optionsGet">
                    <img src="./img/GBP.png">
                    <p>GBP</p>
                </li>
                <li class="optionsGet">
                    <img src="./img/CHF.png">
                    <p>CHF</p>
                </li>
                <li class="optionsGet">
                    <img src="./img/JPY.png">
                    <p>JPY</p>
                </li>
            </ul>
        </div>
    </div>
    <div class="result">
        <p>Wynik:
            <span th:text="${calculation}"></span>
        </p>
        <p>Ostatnia transakcja:
            <span th:text="${lastBalance}"></span>
        </p>

    </div>
        <button onclick="calculate()"  id="exchangeButtonId">Wymień</button>

</div>


<script type="text/javascript" src="./JavaScript/script.js"></script>
</body>
</html>