<!DOCTYPE html>
<html lang="pl-PL" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>MR Currency Exchange</title>
    <link rel="stylesheet" href="../static/css/style.css" th:href="@{/css/style.css}">
</head>
<body>
    <div class="back">
        <img src="./img/exchange.png" alt="" class="backImg">
    </div>
    <div class="container">
        <div class="graph"></div>
        <button class="exchange">Wymień</button>
    </div>
</body>
</html>